/*Import Bulma: */
@import 'bulma/bulma.sass';

// Landing page
.hero.is-info {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/landing.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}

#navbarMenu {
  background: none;
}

// Custom classes

.container {
  max-width: 980px;
}

.radio-btn-label {
  margin: 1.5px !important;
  font-weight: 500;
  font-size: 1.2rem;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.radio-btn {
  margin-right: 10px;
}

.correctAns {
  margin: 1.5px;
  font-weight: 600;
  color: green;
  font-size: 1.25rem;
}

.incorrectAns {
  margin: 1.5px;
  font-weight: 600;
  color: red;
  font-size: 1.25rem;
}

.no-pointer-events {
  pointer-events: none;
}

.ans-description {
  text-align: left;
  padding: 5px 20px;
}

.hidden {
  display: none;
}

// Make choices inline
span.choice > p {
  display: inline;
}

.subtitle {
  margin-bottom: 1px;
}

.centered-container {
  display: flex;
  justify-content: space-evenly;
}

// QuestionForm
.form-container {
  margin: 20px 50px;
  padding: 20px;
  border: 2px solid rgb(177, 173, 173);
}

.preview-label {
  color: #363636;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.preview {
  padding: 10px;
  width: 100%;
  border: 0.5px solid black;
  min-height: 118px;
}

// QuestionManager
.selected-card {
  background-color: rgba(221, 216, 216, 0.658);
}

.is-centered {
  display: flex;
  justify-content: center;
}
